{% extends "information/base.html" %}
{% load static %}
{% block title %}
Home Page
{% endblock title %}


{% block content %}
 <div class="container">
 <h2 class="text-center">List of Student</h2>
  <div class="row">
   {% if info %}
     {% for i in info  %}
    <div class="col-md-4">
 
      {% include "information/partials/_card.html" %}
      
    </div>
    {% endfor %}
       {% else %}
   <p>Currently, there are no student in database</p>
 {% endif %}

   </div>
</div>




{% endblock content %}