{% load static %}
<br>

<div class="card mb-3 mx-2 mt-5" style="width: 15rem;">
  
     <img src=" {% if i.image %}
     {{ i.image.url }}
     {% else %}
     {% static '2.jpg' %}
     {% endif %}
     " class="card-img-top" alt="...">
  <div class="card-body text-center">
    <h5 class="card-title font-weight-light">Name:{{ i.name }}</h5>
    <h5 class="card-title font-weight-light">ID:{{ i.student_id }}</h5>
    <h5 class="card-title font-weight-light">Phone:{{ i.phone }}</h5>
    <h5 class="card-title font-weight-light">Gender:{{ i.gender }}</h5>
    <h5 class="card-title font-weight-light">Enroll Year:{{ i.year_joined.year}}</h5>
    <a href="{% url 'update' i.id %}"><button type="button" class="btn btn-primary">Update</button></a>
    <a href="{% url 'delete' i.id %}"><button type="button" class="btn btn-danger">Delete</button></a>

  </div>
</div>